﻿@model PagedModel<FriendViewModel>
@{
    this.ViewBag.Title = "Přátelé";
}
    <h2>@ViewData["Title"].</h2>
    <h4>Seznam přátel k rozhovoru.</h4>
    <hr />
@if (Model != null && Model.Data != null) {
    <div class="list-group">
        @foreach (FriendViewModel friend in Model.Data)
        {
            <a class="list-group-item list-group-item-action flex-column" asp-controller="Friend" asp-action="Talk" asp-route-id="@friend.UserId">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@friend.Name</h5>
                    <small>@string.Format("{0:ddd d.M HH:mm}", friend.LastMessageDate) <span class="badge badge-primary badge-pill">@friend.CountMessages</span></small>
                </div>
                <p class="mb-1">@friend.LastMessageText</p>
            </a>
        }
    </div>
    <vc:pager model="Model.Paging"></vc:pager>
}
