﻿@model FriendInfoViewModel
@{
    this.ViewBag.Title = "Přítel";
}
<h2>@Model.Name</h2>
<h4>Informace o příteli.</h4>
<table class="table">
    <tbody>
        <tr>
            <td class="text-sent">Jméno</td>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <td class="text-sent">Email</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td class="text-sent">Je administrátor ?</td>
            <td>@(Model.IsAdmin ? "ano - administrator" : "ne - uživatel")</td>
        </tr>
    </tbody>
</table>
<a class="" asp-area="" asp-controller="Friend" asp-action="Talk" asp-route-id="@Model.UserId">Zprávy</a>
