﻿@model FriendTalkViewModel
@{
    ViewData["Title"] = "Rozhovor";
}
<h2>Rozhovor s <a class="text-sent" asp-area="" asp-controller="Friend" asp-action="Info" asp-route-id="@Model.FriendId">@Model.FriendName</a></h2>
<hr />
<div class="container">
    <div class="msg_history" id="msg_list">
        @if (Model.LastMessages != null && Model.LastMessages.Count > 0)
        {
            foreach (var msg in Model.LastMessages)
            {
                if (msg.IsMine)
                {
                    <div class="outgoing_msg">
                        <div class="sent_msg">
                            <plainText Text="@msg.Text" />
                            <span class="time_date">@String.Format("{0:HH:mm} | {0:ddd d.M}", @msg.Created)</span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="incoming_msg">
                        <div class="received_msg">
                            <p>@msg.Text</p>
                            <span class="time_date">@String.Format("{0:HH:mm} | {0:ddd d.M}", @msg.Created)</span>
                        </div>
                    </div>
                }
            }
        }
    </div>
    <div class="type_msg">
        <div class="input_msg_write">
            <input type="hidden" id="userInput" value="@Model.FriendName" />
            <input type="text" id="messageInput" class="write_msg" placeholder="Napiště zprávu" />
            <button id="sendButton" class="msg_send_btn" type="button">Odeslat</button>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
