﻿@model LoginViewModel
@{
    this.ViewBag.Title = "Přihlášení";
}
<h2>@ViewData["Title"].</h2>
<form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
    <h4>Lokální účet aplikace</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.UserName" class="form-control" />
            <span asp-validation-for="@Model.UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.Password" class="form-control" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="@Model.RememberMe" />
        <label asp-for="@Model.RememberMe">pamatuj si mne na tomto počítači</label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Přihlásit</button>
        </div>
    </div>
</form>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
