﻿@{
    ViewData["Title"] = "Talk";
}
<div class="text-center">
    <h1 class="display-4">Vítejte</h1>
    <h5>v aplikaci Talk</h5>
</div>
<div class="card-deck">
    <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-primary mb-3"><h5>Jste tu poprvé ?</h5></div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Zaregistrujte se.</h6>
            <p class="card-text">Pro zasílání zpráv je potřeba, aby jste vytvořili svůj účet.</p>
            <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Registrace</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header text-white bg-success mb-3"><h5>Nová zpráva ?</h5></div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Napište příteli.</h6>
            <p class="card-text">Vyberte přítele a začněte konverzaci.</p>
            <a class="btn btn-success" asp-controller="Friend" asp-action="Call">Přátelé</a>
        </div>
    </div>
</div>
