<environment include="Development">
    <link href="~/css/bootstrap-toggle.css" rel="stylesheet">
    <script src="~/lib/bootstrap-toggle/bootstrap-toggle.js"></script>
</environment>
<environment exclude="Development">
    <link href="~/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="~/lib/bootstrap-toggle/bootstrap-toggle.min.js"></script>
</environment>
