﻿@model BackupViewModel
@{
    this.ViewBag.Title = "Záloha";
}
<h2>@ViewData["Title"].</h2>
<form asp-controller="Admin" asp-action="Backup" method="post" class="form-horizontal" role="form">
    <h4>Uchování dat.</h4>
    <hr />
    <div class="form-group">
        <input asp-for="@Model.BackupUsers" />
        <label asp-for="@Model.BackupUsers">Uživatelé</label>
    </div>
    <div class="form-group">
        <input asp-for="@Model.BackupMessages" />
        <label asp-for="@Model.BackupMessages">Zprávy</label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Zálohovat</button>
        </div>
    </div>
</form>
@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
