﻿@model PagedModel<ManageUserViewModel>
@{
    this.ViewBag.Title = "Uživatelé";
}
<h2>@ViewData["Title"].</h2>
<h4>Seznam uživatelů.</h4>
<hr />
@if (Model != null && Model.Data != null)
{
    <p class="text-right">Je admin?</p>
    <ul class="list-group">
        @foreach (ManageUserViewModel user in Model.Data)
        {
            <li class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@user.UserName</h5>
                    <input type="checkbox" checked="@user.IsAdmin" data-toggle="toggle" data-onstyle="success" data-on="Admin" data-offstyle="secondary" data-off="User" data-userid="@user.Id" />
                </div>
            </li>
        }
    </ul>
    <vc:pager model="Model.Paging"></vc:pager>
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_BootstrapToggleScriptsPartial"); }
    <script>
        $(function () {
            $(':checkbox').change(function () {
                var form = { "userId": $(this).attr('data-userid'), "asAdmin": $(this).prop('checked') };
                $.ajax({ type: "POST", contentType: "application/json; charset=utf-8", url: "/Admin/Set", dataType: "json", data: JSON.stringify(form)});
            })
        })
    </script>
}
